 main {
    margin-top: 10px; /* Add space to avoid content being hidden under the navbar */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
img {
  border: 3px solid purple;  
  height: 100px;
  width: 100px;
}
.bars{
    background-color: #dffff7;
}
/*
.text-center {
    width: 100%;
    max-width: 600px;
}

h3 {
    margin-bottom: 10px;
    background-color: blue;
}

#newpost {
    border: 3px solid blue;
    width: 100%;
    resize: none;
} */

